@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    string[] applicationUrls = { "https://localhost:7120", "http://localhost:5022" };
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The backend server is running on the following ports:</p>
    <ul style="list-style-type: none; padding: 0;">
        @foreach (var url in applicationUrls)
        {
            <li style="margin-bottom: 5px;"><a href="@url">@url</a></li>
        }
    </ul>
</div>
